.container {
  /* font-family: Arial, sans-serif; */
  background-color: #f5f5f5;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  /* background: rgba(244, 37, 9);
  backdrop-filter: blur(18px); */
  background: rgba(250, 38, 9,1);
  backdrop-filter: blur(18px); 

  /*   
  display: flex;
  width: 1440px;
  height: 91px;
  padding: 24px 26px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: white;*/
}

.logo {
  /* font-weight: bold;
  font-size: 1.5rem; */

  width: 170.854px;
  height: 59px;
  flex-shrink: 0;
}
.navLinks {
  display: flex;
  align-items: center;
}

.links {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.navLinks a {
  /* margin: 0 0.5rem; */
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.partnerButton {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  cursor: pointer;
}

.partnerButton > span {
  letter-spacing: 0.5px;
  font-size: 15px;
}

.partnerButton:hover .arrow {
  transform: rotate(45deg);
}

.arrowIcon {
  width: 18px;
  height: 18px;
}

/* Main Content */
.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /* width: 70rem; */
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  /* padding: 0 0 0 2rem; */
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
}

/* Verticals Section */
.verticals {
  flex: 2;
}

.verticals h2 {
  text-align: center;
  color: #151515;
  font-size: 1.5rem;
  padding: 1rem 0;
  /* font-family: "Plus Jakarta Sans"; */
  font-weight: "600";
  /* line-height: 24; */
  word-wrap: "break-word";
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 2rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #151515;
  font-size: 14;
  /* font-family: "Plus Jakarta Sans"; */
  font-weight: 500;
  word-wrap: "break-word";
  padding-bottom: 1.5rem;
}

.item:hover {
  color: #d32d0d;
  cursor: pointer;
}

/* Image Section */
.imageContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(211, 45, 13, 0.7); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.overlay .icon {
  color: white;
  font-size: 2rem;
}

.overlay:hover {
  background: rgba(211, 45, 13, 0.9);
}
