.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55.9375rem;
}

.container .content {
  width: 50%;
  height: 55.9375rem;
  flex-shrink: 0;
  background-color: #fa2609;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .content h2 {
  text-align: left;
  padding: 1rem 2.25rem;
  color: #fff;
  /* font-family: "Neue Montreal"; */
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .content h6 {
  text-align: left;
  border: 1px solid #fff;
  color: #fff;
  /* font-family: "Neue Haas Grotesk Text Pro"; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
  text-transform: capitalize;
  display: flex;
  width: 44.625rem;
  height: 6.5rem;
  padding: 1rem 2.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
}

.content h5:hover,
.content h6:hover {
  background-color: white;
  color: #fa2609;
}

.container .illustration {
  margin-top: 2rem;
  width: 50%;
  height: 50.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.container .illustration img:nth-child(1) {
  width: 44.1875rem;
  height: 44.1875rem;
  flex-shrink: 0;
}

.container .illustration img:nth-child(2) {
  width: 40.875rem;
  height: 28.25rem;
  flex-shrink: 0;
  position: absolute;
}


@media (max-width: 480px) {
  .container {
    flex-direction: column;
    height: auto;
    /* min-height: 55.9375rem; */
  }
  
  .container .content {
    width: 100%;
    height: auto;
    gap: 1rem;
    padding: 0.8rem;
    order: 2; 
  }
  
  .container .content h2 {
    font-size: 2.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    line-height: 120%;
  }
  
  .container .content h6 {
    width: 80%;
    height: auto;
    min-height: 6.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 1rem;
    margin: 0 15px;
    
    text-align: center;
  }
  
  .container .illustration {
    width: 90%;
    height: auto;
    /* margin-top: 1rem; */
    order: 1; 
    position: relative;
  }
  
  .container .illustration img:nth-child(1) {
    width: 100%;
    max-width: 20rem;
    height: auto;
    aspect-ratio: 1/1;
  }
  
  .container .illustration img:nth-child(2) {
    width: 90%;
    max-width: 18rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .content h5:hover,
  .content h6:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .content h5:active,
  .content h6:active {
    background-color: white;
    color: #fa2609;
  }
}