.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55.9375rem;
}

.container .content {
  width: 50%;
  height: 55.9375rem;
  flex-shrink: 0;
  background-color: #fa2609;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .content h2 {
  text-align: left;
  padding: 1rem 2.25rem;
  color: #fff;
  /* font-family: "Neue Montreal"; */
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .content h6 {
  text-align: left;
  border: 1px solid #fff;
  color: #fff;
  /* font-family: "Neue Haas Grotesk Text Pro"; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
  text-transform: capitalize;
  display: flex;
  width: 44.625rem;
  height: 6.5rem;
  padding: 1rem 2.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
}

.content h5:hover,
.content h6:hover {
  background-color: white;
  color: #fa2609;
}

.container .illustration {
  margin-top: 2rem;
  width: 50%;
  height: 50.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.container .illustration img:nth-child(1) {
  width: 44.1875rem;
  height: 44.1875rem;
  flex-shrink: 0;
}

.container .illustration img:nth-child(2) {
  width: 40.875rem;
  height: 28.25rem;
  flex-shrink: 0;
  position: absolute;
}
