.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* font-family: "Roboto", sans-serif; */
  margin-bottom: 2rem;
}

.secondContainer {
  padding-left: 100px;
  padding-right: 100px;
}

.optionToggle {
  width: 220px;
  height: 32px;
  background-color: #fa2609;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 6px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* margin-left: 2rem; */
}

.optionItem {
  /* width: 100px; */
  height: 25px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fa2609;
  color: #ffffff;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 6px;
  cursor: pointer;
}

.activeOption {
  background-color: #ffffff;
  color: #fa2609;
}

.thirdContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* box-sizing: border-box; */
  margin-bottom: 1.5rem;
  overflow-y: scroll;
}

.postings {
  width: 100%;
  /* height: 300px; */
  border: 2px solid #fa2609;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 20px;
  font-weight: 500;
  color: #fa2609;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}

.heading .image {
  width: 20px;
  height: 20px;
}

.optionsFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: green; */
}

.optionCollection {
  display: flex;
  gap: 10px;
}

.optionCollection .optionHeading {
  color: #ffffff;
  background-color: #fa2609;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  height: 25px;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  cursor: pointer;
}

.knowMoreAndApply {
  width: 180px;
  height: 45px;
  background-color: #fa2609;
  color: #ffffff;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 10px;
}

.knowMoreAndApply span {
  margin-top: 4px;
}

.downArrow {
  transform: rotate(139deg);
}



@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100%;
    overflow: visible;
    margin-bottom: 2rem;
  }

  .secondContainer {
    width: 95%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  /* .optionToggle {
    width: 220px;
    height: 32px;
    background-color: #fa2609;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding: 6px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  } */

  /* .optionItem {
    height: 25px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #fa2609;
    color: #ffffff;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding-top: 6px;
    cursor: pointer;
  } */

  /* .activeOption {
    background-color: #ffffff;
    color: #fa2609;
  } */

  .thirdContainer {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* box-sizing: border-box; */
    margin-bottom: 1.5rem;
    overflow-y: scroll;
  }

  .postings {
    width: 100%;
    /* height: 300px; */
    border: 2px solid #fa2609;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .heading {
    font-size: 16px;
  }

  .heading .image {
    width: 20px;
    height: 20px;
  }

  .optionsFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: green; */
  }

  .optionCollection {
    display: flex;
    gap: 10px;
  }

  .optionCollection .optionHeading {
    font-size: 12px;
    height: auto;
  }

  .knowMoreAndApply {
    width: 140px;
    height: 40px;
    background-color: #fa2609;
    color: #ffffff;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 10px;
  }

  .knowMoreAndApply span {
    margin-top: 2px;
  }

  .downArrow {
    transform: rotate(139deg);
  }


}