.main {
  width: 100%;
}

.container {
  position: relative;
  max-height: 120vh;
  height: 120vh;
  border-radius: none;
  overflow: hidden;
  border-left: 5px solid rgba(250, 38, 9, 1);
  /* Exact red background color */
  border-right: 5px solid rgba(250, 38, 9, 1);
  /* Exact red background color */
}

.header {
  display: flex;
  justify-content: space-between;
  /* font-size: 3.8rem; */
  border-radius: none;
  font-weight: 100;
  text-align: left;
  color: #ffffff;
  /* White text */
  background-color: rgba(250, 38, 9, 1);
  /* Exact red background color */
  padding: 2rem 0 2rem 1.8rem;
  border: 1px solid rgba(250, 38, 9, 1);
  /* Exact red background color */
}

.header h1 {
  font-size: 3.8rem;
}

.countSection {
  width: 10rem;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 6rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.count {
  font-size: 6rem;
  font-weight: 500;
  padding: 0.8rem 0;
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke-color: rgba(250,
      38,
      9,
      1); */
  /* Exact red background color */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  color: transparent;
  -webkit-text-stroke: 2px #ff2b0a;
  /* text-stroke: 10px #ff2b0a; */
}

.countButtonalso {
  display: flex;
  flex-direction: column;
}

.goBackButtonRotate {
  display: flex;
  height: 3rem;
  margin: 1rem -1.2rem;
  transform: rotate(-90deg);
}

.remainingCount {
  padding-bottom: 2rem;
  color: #000;
  font-size: 1.4rem;
}

.remainingCount span {
  margin: 0 0.3rem;
  color: rgba(250, 38, 9, 1);
  /* Exact red background color */
}

.downArrow {
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  background-color: rgba(250, 38, 9, 1);
  /* Exact red background color */
  border-radius: 50%;
  margin-bottom: 1rem;
}

.notActiveArrow {
  background-color: transparent;
}

.rotateArrow {
  transform: rotate(180deg);
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.left {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  position: absolute;
  top: 20%;
}

.right {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8rem 20rem 10rem 1rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.title {
  font-weight: lighter;
  word-wrap: break-word;
  font-size: 2rem;
  margin: 4rem 0 5px 0;
  color: rgba(250, 38, 9, 1);
  /* Exact red background color */
}

.description {
  width: 33rem;
  font-size: 16px;
  margin-bottom: 20px;
  color: #3a3a3a;
  font-size: 18;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 2rem;
  padding: 2rem 0;
}

.exploreButton {
  padding: 15px 25px;
  font-size: 1.2rem;
  background-color: #ffffff;
  /* White text */
  color: rgba(250, 38, 9, 1);
  /* Exact red background color */
  border: 1px solid rgba(250, 38, 9, 1);
  /* Exact red background color */
  border-radius: 25px 5px 25px 5px;
  cursor: pointer;
  align-self: center;
  margin-top: 3rem;
  transition: 0.1s linear;
}

.exploreButton:hover {
  background-color: rgba(250, 38, 9, 1);
  /* Exact red background color */
  color: #ffffff;
  /* White text */
}

.footer {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 4rem 2rem;
}

.verticalTags {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.tag {
  margin: 10px 10px;
  width: fit-content;
  padding: 10px 15px;
  border: 1px solid red;
  border-radius: 20px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.activeTag {
  width: fit-content;
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  position: relative;
}

.activeTag::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(250, 38, 9, 1);
  /* Exact red background color */
}

.contentMobile {
  display: none;
}



/* MOBILE DEVICE */
@media screen and (max-width: 480px) {

  .header {
    padding: 1rem 0 1rem 0rem;

  }

  .header h1 {
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
  }

  .countSection {

    display: none;
  }

  .buttonGroup {
    padding: 10px 0;
    width: 100%;                                           
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;         
    gap: 1rem;    
    border-top: 1px solid #000;
    /* border-bottom: 1px solid #000; */
  }   
  
  .remainingCount {
    padding-bottom: 0;                                                                                        
    color: #000;
    font-size: 1.2rem;
    margin: 0 2rem !important;
  }

  .remainingCount span {
    /* margin: 0 1rem !important; */
    color: rgba(250, 38, 9, 1);
  }

  .downArrowMobile {
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    background-color: rgba(250, 38, 9, 1);
    border-radius: 50%;
    margin-bottom: 0;
  }

  .notActiveArrowMobile {
    background-color: transparent;
  }

  .rotateArrowMobile1 {
    transform: rotate(90deg);
  }
  .rotateArrowMobile2 {
    transform: rotate(-90deg);
  }
  .arrow{
    width: 20px;
    height: 20px;
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    display: none;
  }

  .contentMobile {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #000;
    position: relative;
  }

  .leftMobile {
    width: 174.00000000000014;
    height: 0px;
    opacity: 1;
    border-width: 1px;
  }

  .leftMobile .count {
    margin-top: 3rem;
    width: 5rem;
  }

  .rightMobile {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8rem 20rem 10rem 1rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
  }

  .imageMobile {
    width: 100% !important;
    top: 0%;
    left: 0%;
    position: absolute;
  }

  .left {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: green;
  }

  .image {
    width: 100%;
    position: absolute;
    top: 20%;
  }

  .right {
    width: 90%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0rem 20rem 0rem 1rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .title {
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 1rem 0 0px 0;
  }

  .description {
    font-family: Outfit;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 26rem;
  }

  .exploreButton {
    padding: 10px 16px;
    font-size: 0.8rem;
    align-self: flex-start;
    margin-top: 0rem;
    transition: 0.1s linear;
  }

  .exploreButton:hover {
    background-color: rgba(250, 38, 9, 1);
    color: #ffffff;
  }

  .footer {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2rem 0.5rem;
  }

  .verticalTags {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .tag {
    margin: 8px 6px;
    width: fit-content;
    padding: 8px 13px;
    border: 1px solid red;
    border-radius: 20px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
  }

  .activeTag {
    width: fit-content;
    padding: 8px 13px;
    background-color: red;
    color: #fff;
    position: relative;
  }

  .activeTag::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(250, 38, 9, 1);
  }

}