.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.word {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px; /* smoother spacing */
}

/* Blinking Cursor */
.word::after {
  content: "|";
  animation: blink 1s step-start infinite;
  color: white;
  margin-left: 4px;
  position: absolute;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.logo {
  width: 194px;
  height: 72px;
  flex-shrink: 0;
}


