.hero {
  /* width: 1440px;
  height: 815px;
  flex-shrink: 0;
  background: var(--Angular-Background-V1, conic-gradient(from 119deg at 50% 58.75%, #FA2609 26.35770857334137deg, #AF1600 311.2034511566162deg)); */

  background: conic-gradient(
    from 119.35deg at 50% 58.75%,
    #af1600 -48.8deg,
    #fa2609 26.36deg,
    #af1600 311.2deg,
    #fa2609 386.36deg
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 4rem 4rem;
  position: relative;
  min-height: 72vh;
}
.animatedDiv {
  display: flex;
  width: 100%;
  height: 100vh;
  /* margin-bottom: 3.5rem; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: conic-gradient(
    from 119.35deg at 50% 58.75%,
    #af1600 -48.8deg,
    #fa2609 26.36deg,
    #af1600 311.2deg,
    #fa2609 386.36deg
  );
  z-index: 2;
}
.innerAnimation {
  width: 100%;
  display: flex;
}
.flex {
  /* width: 100%; */
  height: 28rem;
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.content {
  /* width: Fixed (569px) px; */
  width: 50%;
  height: Hug (408px) px;
  color: #fff;
  top: 204px;
  left: 100px;
  gap: 500px;
}
.content .h1 {
  /* font-family: pl  ; */
  font-size: 48px;
  /* font-weight: bolder; */
  line-height: 60.48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.para {
  width: 31.25rem;
  height: 85px;
  gap: 0px;
  margin-top: 1rem;
  opacity: 0.9;
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.logo {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  /* width: 12rem;
  height: 3.2rem; */
  box-shadow: 0 0 30px 5px #fff;
}
.content button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.3rem;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  text-align: left;
  /* transition:  0.3s ease-in-out; */
  cursor: pointer;
}
.content button:hover .arrow {
  transition: 0.3s linear;
  transform: rotate(45deg);
}

.content button:hover {
  background-color: #fa2609;
}

.content .watchVideo {
  background-color: #fa2609;
  border: 1px solid transparent;
}

.content .watchVideo:hover {
  border: 3px solid #fff;
}

.imageSection {
  width: 50%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 204px;
  left: 1303px;
  gap: 0px;
  overflow: hidden;
  /* background-color: green; */
}
.image {
  position: relative;
  width: 487px;
  height: 472px;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}
.scanner {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%);
}
.image > img {
  object-fit: contain;
}
.imageContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-end;
  justify-self: flex-end;
}

/* img {
      width: 100%;
      max-width: 400px;
      margin-bottom: 1rem;
    } */

.tabs {
  display: flex;
  margin-right: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 70px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabButton {
  background: transparent;
  border: none;
  padding: 0.7rem 1.5rem;
  margin: 0;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabButton:not(:last-child) {
  margin-right: 0.5rem;
}

.tabButton:hover {
  color: #fff;
  background-color: #e74c3c;
}

.activeTab {
  /* background-color: #e74c3c; */
  background: linear-gradient(121.87deg, #fa2609 13.39%, #bf270e 86.58%);
  color: #fff;
  box-shadow: 0 4px 8px rgba(231, 76, 60, 0.4);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    background: linear-gradient(121.87deg, #fa2609 13.39%, #bf270e 86.58%);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    background: linear-gradient(121.87deg, #d21d08 13.39%, #a31f0c 86.58%);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    background: linear-gradient(121.87deg, #fa2609 13.39%, #bf270e 86.58%);
    opacity: 1;
  }
}

.chatButton {
  z-index: 5;
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(250, 38, 9, 1);*/
  background: linear-gradient(121.87deg, #fa2609 13.39%, #bf270e 86.58%);
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  animation: heartbeat 1.5s infinite ease-in-out;
}
.rightDiv {
  width: 30rem;
  height: 100vh;
  background-color: white;
}
